<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin class="com.oxygenxml.cmis.web.Plugin"

	id="web-author-cmis-plugin" name="web-author-cmis-plugin"
	description="A plugin for oXygen XML Web Author."
	version="${project.nosnapshot.version}" vendor="com.oxygenxml.cmis">

	<runtime>
		<librariesFolder name="lib" />
		<library name="target/classes" />
		<librariesFolder name="target/lib" />
	</runtime>

	<!-- Add extensions here -->

	<!-- Example extensions: -->
	<extension type="WebappServlet"
		class="com.oxygenxml.cmis.web.CmisLoginServlet" />
	<extension type="URLHandler"
		class="com.oxygenxml.cmis.web.CmisURLExtension" />
	<extension type="WebappServlet"
		class="com.oxygenxml.cmis.web.cmisactions.CmisActionsBase" />

	<!-- You can access static files at XML_WEB_AUTHOR/plugin-resources/cmis 
		(change PLUGIN_NAME_STATIC to whatever you need) -->
	<extension type="WebappStaticResourcesFolder"
		path="web/static/" href="cmis" />

	<extension type="WebappServlet" role="config"
		class="com.oxygenxml.cmis.web.CmisPluginConfigExtension" />
</plugin>
