#table, .td {
	text-align: left;
	border: 1px solid lightgray;
}

#table {
	border-collapse: collapse;
	display: block;
	width: 100%;
    margin-top: 40px;
    overflow: auto;
    height: calc(100% - 40px);
    box-sizing: border-box;
    line-height: 1.2;
}

.td {
	padding: 10px;
	display: table-cell;
    vertical-align: inherit;
}

.oldlink {
	text-align: center;
	margin-right: 25px;
	color: #323233;
	text-decoration: underline;
}

.oldlink:hover {
	text-decoration: none;
	color: #485461;
	font-weight: 400;
}

.headtitle {	
	font-family: robotolight, Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-align: center;
	display: inline-block;
}

#head {
	width: 100%;
	position: absolute;
	background-color: white;
	font-size: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#user {
	width: 15%;
    text-align: left;
}

#commit {
	width: 100%;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -50px 0 0 -50px;
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }