.td-header {
	background-color: white;
	padding: 11px;
	box-shadow: inset 0 1px 0 lightgray, inset 0 -1px 0 lightgray;
	line-height: 1.2;
	
	
}

.table-header-row {
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 100;
	font-weight: bolder;
	
}

td[data-version=version] {
	width: auto;
}

td[data-user=user] {
	width: auto;
}

td[data-commit=commit] {
	width: 100%;
}

td[data-commit=commit]>span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	line-height: 2.5em;
	padding: 0 10px;
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.td {
	padding: 10px;
	display: table-cell;
    vertical-align: inherit;
}

.oldlink {
	text-align: center;
	color: #323233;
}

.headtitle {	
	font-family: robotolight, Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-align: center;
	display: inline-block;
}

.warningdiv {
	text-align: center;
	font-weight: 500;
	font-family: robotolight, Arial, Helvetica, sans-serif;
	font-size: 18px;
}


#cmis-all-versions-table table {
    width: 100%;
}

#cmis-all-versions-table td {
    position: relative;
}

#cmis-all-versions-table td[data-commit] {
  width: 100%;
}


#cmis-all-versions-table, .td {
	border: 1px solid lightgray;
}

#cmis-all-versions-table {
	border-collapse: collapse;
	border-top: 0;
	width: 100%;
    box-sizing: border-box;
    line-height: 1.2;
}

#cmis-messdiv {
	text-align: center;
	font-family: robotolight, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

#cmis-warnhr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#cmis-user {
	width: 15%;
	min-width: 80px;
}

#cmis-commit {
	width: 100%;
}

#cmis-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -50px 0 0 -50px;
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

/* Add some space between the dropdown text and the downwards arrow. */
[name="cmis-actions"] .goog-toolbar-menu-button-caption {
	margin-right: 5px;
}

.cmis-login-dialog label, .cmis-version-label {
  display: block;
  line-height: 2em;
}

.cmis-error-content {
  line-height: 2em;
}

#cmis-name, #cmis-passwd {
  display: block;
  width: 100%;
}

.current-version {
	font-weight: bold;
}

.current-version .oldlink {
	cursor: default;
	text-decoration: none;
}
  
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}